@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');



body{
    font-family: 'Raleway', sans-serif;
    /* height:100vh; */
    background : #333 url('../img/wall.jpg') no-repeat center center / cover;
    color: #e7e4e4;
    /* overflow: ; */
    margin:0;
}
.main-wrapper{
    background: rgba(0, 0, 0, 0.233);
    /* height: 100%; */
    z-index: 2;
}
.head-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* height:100%; */
    padding: 3rem 3rem 8rem;
    
    text-align: center;
    
}

h1, h2{
    font-weight: 200;
    margin:0.4rem;
}

h1.head{
    font-size:5rem;
    text-shadow: 0 0 30px rgba(223, 223, 223, 0.637);
}
h2.head{
    font-size:2rem;
    text-shadow: 0 0 30px rgba(223, 223, 223, 0.637);
}
.txt{
    border-right: .02rem solid #aaa;
    padding-right:.2rem;
}

.main-content{
    /* background: rgba(238, 238, 238, 0.301); */
    background: rgba(26, 25, 25, 0.76);
    position: relative;
}
.img-wrapper{
    text-align: center;
}
.profile-img{
    height:12rem;
    border-radius:50%;
    margin-top:-6rem;
    box-shadow: 0 0 10px 2px white;
}

h2.name{
    text-align: center;
    font-size: 2rem;
    font-weight:400;
    padding:1rem 2rem 1rem;
    line-height: 2.5rem;
    text-shadow: 0 0 30px rgba(223, 223, 223, 0.637);
}

.menubar .navbar{
    text-align:center;
    display: block;
    background: #7e7d7d17;
}
.menubar ul{
    list-style: none;
    
}
.menubar ul li{
    display: inline-block;
    padding: 0 1rem;
}
.menubar ul li a{
    font-size: 1.2rem!important;
    color:#fff
}
.menubar ul li a:hover{
    /* text-decoration: underline; */
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.308);
    
}
.menubar ul li a:focus{
    background:transparent!important;
}


#about{
    padding: 0 3rem;
}
h2.body-title{
    font-size:2rem;
    font-weight: 400;
    text-align: center;
    color:white;
    line-height: 5rem;
    position: relative;
}
.body-title:after {
    content:""; 
    background: white; 
    border-radius:20px;
    position: absolute; 
    bottom:0;
    left:45.8%;
    height: 7px; 
    width: 8%;
  }

.body-text{
    font-size: 1.2rem;
    padding: 0rem 3rem ;
    color:white;
    text-align: justify;
    text-align:center;
    text-shadow: 0 0 15px black;
    margin:0;
}

#particles-js canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
}

.footer{
    background: rgba(0, 0, 0, 0.651);
    text-align: center;
    font-weight: 600;
    border-top:1px solid white
}

.download-btn{
    text-align: center;
    margin-top:1rem;
}
.download-btn a{
    background-color:rgb(91, 179, 91)
}
.download-btn a:hover{
    background-color:rgb(2, 105, 2)

}

.blog-btn{
    position: absolute;
    right:1rem;
    top:1rem;
}
#works h4{
    font-size:1.5rem;
    text-align:left;
}
#works img{
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.712);
    border:1px solid rgba(0, 0, 0, 0.432);
}

.row{
    margin:0;
    padding: 20px 0;
}

@media(max-width: 720px){
    h1{
        font-size:2rem;
    }
    .name{
        font-size:1.5rem;
    }
    .name span{
        font-size:2rem;
    }
    h2{
        font-size:1rem;
    }
    .text{
        font-size:1.2rem;
        font-weight: 400;
    }
    .textclass{
        height:3rem;
    }
    .main-content{
        margin:0;
        width: 100%;
    }
    .blog-btn{
        position: absolute;
        right:0;
        top:.5rem;
    }
    #about .body-text{
        font-size:1.2rem;
        padding:0;
        width:100%;
        text-align: justify
    }
    #about{
        padding:1.5rem;
    }
    .col.l4.s12{
        margin-bottom:1rem;

    }
    .row{
        padding-bottom:0
    }
}